.context-item {
  min-height: 100px;
  padding: 12px;
  cursor: pointer;
  width: 33.3%;
  margin: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ebebeb;
  color: #fefcfb;
  /* box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 32%); */
}

.context-item:hover {
  background: #aaaaaa;
  color: rgb(243, 243, 243);
}

.context-item > p {
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}

.context-item-empty {
  padding: 12px;
  width: 33.3%;
  margin: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.context-box {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border: rgba(170, 170, 170, 0.712);
  min-height: 300px;
  padding: 12px;
  cursor: pointer;
  width: 33.3%;
  margin: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #0e0000;
  color: #0dc0c0;
  user-select: none; /* standard syntax */

  /* box-shadow: 2px 2px 7px 2px rgb(0 0 0 / 32%); */
}

.context-box:hover {
  background: #0dc0c0;
  color: rgb(243, 243, 243);
}

.context-box > p {
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}

.context-box-empty {
  padding: 12px;
  width: 33.3%;
  margin: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.color1 {
  background: #dddddd;
}

.color1:hover {
  background: #0dc0c0;
}

.color2 {
  background-color: #41d3d3;
}

.color2:hover {
  background: #ffa267;
}

.rollback {
  /* Layout Properties */
  width: 120px;
  height: 50px;
  /* UI Properties */
  background: transparent linear-gradient(180deg, #4c9cde 0%, #1d66bf 100%) 0%
    0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  color: #fff;
}

.rollback:hover {
  cursor: pointer;
}

/* //! home start */
.home-item {
  cursor: pointer;
  width: 33%;
  text-align: center;
  filter: hue-rotate(102deg);
}

.home-item:hover {
  filter: hue-rotate(308deg);
}

.img {
  width: 60%;
}

@media screen and (min-width: 992px) {
  .img {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .home-item {
    width: 30%;
  }

  .img {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .home-item {
    width: 33%;
  }

  .img {
    width: 100%;
  }
}

/* //! home end */

/* //!head start */
.title {
  padding: 0px;
  font-size: 30px;
  font-weight: 600;
}

.title-deptname {
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .title-deptname {
    display: block;
  }
}

title-deptname .date {
  margin-left: 5px;
}

.date .date-left {
  color: rgb(53, 52, 52);
}

.date .date-time {
  font-size: 24px;
  font-weight: 600;
}

.date .date-right {
  padding-top: 10px;
  float: right;
  font-size: 16px;
}

.buttons {
  margin: 10px 0px;
  clear: both;
}

.btn-toShowClinic {
  margin: 4px;
  font-size: 20px;
  font-weight: 600;
  color: #4d4a4a;
  background-color: #ffffff;
  border-color: #2c2c2c;
}

.btn-toShowClinic:hover {
  color: #fff;
  background-color: #129cec;
  border-color: #129cec;
}

.isactive {
  color: #fff;
  background-color: #129cec;
  border-color: #129cec;
}

/* //!head end */
.outpatient-section-small {
  max-height: 1220px;
  min-height: 1220px;
  padding-top: 20%; /* 页头高度 */
  overflow-y: auto;
  scroll-margin-top: 420px; /* 设置初始位置的高度 */
  border-radius: 40px 40px 0px 0px;
  background-color: #fff;
  opacity: 1;
  top: 10%;
  position: relative;
}
/* //! ChooseDept.vue start */
.outpatient-section {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
  border: 4px #f1f1f1 solid;
}

.footer {
  height: 50px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

ul .row-title {
  padding: 1em;
  width: 100%;
  background: rgb(0 114 195 / 97%);
  color: white;
  justify-content: space-between;
  overflow: hidden;
}

.title-left {
  float: left;
}

.title-left .kind {
  margin-left: 5px;
}

.title-right {
  float: right;
}

ul .row-p1 {
  width: 20%;
  float: left;
  margin: 0px;
}

.row-p1 div {
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-p1 div:hover {
  color: #2b85b9;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  ul .row-p1 {
    width: 25%;
  }
}

@media screen and (max-width: 640px) {
  ul .row-p1 {
    width: 33%;
  }
}

/* //! ChooseDept.vue end */

/* //! selectClinic  start*/

.rwdTitle {
  display: inline-block;
}

.rwdTitle2 {
  display: none;
}

.title-deptname {
  display: inline-block;
}

@media screen and (max-width: 640px) {
  .title-deptname {
    display: block;
  }

  .rwdTitle {
    display: none;
  }

  .rwdTitle2 {
    display: block;
  }
}

.table-layout {
  padding: 10px;
}

.table-layout table {
  width: 100%;
}

.tableApp-show {
  display: none;
}

.clinic-info-lg {
  font-size: 18px;
  font-weight: 600;
}

.clinic-info-md {
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.cc {
  display: none;
}

.clinic-info-bg {
  min-height: 60px;
  border-bottom: #979797 solid;
  background: linear-gradient(rgb(221 221 221), rgb(233, 244, 250));
  /* background-image: url(https://zh-tw.sltung.com.tw/tung/OPD/images/thead.png); */
}

@media screen and (max-width: 768px) {
  .clinic-info-lg {
    display: none;
  }

  .clinic-info-md {
    display: block;
  }
}

.backgroundground {
  background-color: rgba(170, 170, 170, 0.712);
}

/* //! selectClinic end */

/*  //! editRemark start */
.inputList {
  float: left;
  width: 100%;
}

.inputList div {
  display: inline-block;
  padding: 5px 5px;
  white-space: nowrap !important;
  /* float: left; */
  font-size: 20px;
  font-weight: 600;
  /* display: flex; */
}

.ck {
  clear: both;
  /* display: none; */
}

.btn-blue {
  color: #fff;
  background-color: #129cec;
  border-color: #129cec;
  width: 300px;
  margin: 4px;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
}

/*  //!  editRemark end*/

/*  //!  divisionProgress start*/

.division-item > div {
  color: white;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* //!  divisionProgress end */

/* //!  Registed start */
.regist-info-lg {
  font-size: 18px;
  font-weight: 600;
}

.regist-info-md {
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.reg-inputlist {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  margin: 5px 2px;
}

.reg-inputlist > div > label {
  margin: 5px;
}

.regist-transDate > p {
  margin: 0px;
  display: inline-block;
}

.btn-registed {
  margin: 0px 4px 5px 4px;
  font-size: 20px;
  font-weight: 600;
  color: #4d4a4a;
  background-color: #ffffff;
  border-color: #2c2c2c;
}

.btn-registed:hover {
  color: #fff;
  background-color: #129cec;
  border-color: #129cec;
}

@media screen and (max-width: 768px) {
  .regist-info-lg {
    display: none;
  }

  .regist-info-md {
    display: block;
  }
}
.loadingio-spinner-spinner-5cf73kkmxoq {
  width: 177px;
  height: 177px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}
/* @media screen and (max-width: 600px) {
    .titl-div, .flex-main, .flex-center, .Input, .hs, .col_tbl, .tbl-info, .textinput, .qlb, .qgrd, .qlbtip, .clf, .column.content > div, [class*="qlb"], .qdatimg, .qdattbl {
    margin-left: auto;
    }   
} */

/* //!  Registed end */

/* loading css */
@keyframes ldio-4p6krgwc7t8 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ldio-4p6krgwc7t8 div {
  left: 76.11px;
  top: 43.365px;
  position: absolute;
  animation: ldio-4p6krgwc7t8 linear 0.9615384615384615s infinite;
  /* background: #a0ceff; */
  background: #62cfbd;
  width: 24.78px;
  height: 19.47px;
  border-radius: 12.39px / 9.735px;
  transform-origin: 12.39px 45.135px;
}

.ldio-4p6krgwc7t8 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9109311740890688s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(2) {
  transform: rotate(18.94736842105263deg);
  animation-delay: -0.8603238866396761s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(3) {
  transform: rotate(37.89473684210526deg);
  animation-delay: -0.8097165991902834s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(4) {
  transform: rotate(56.8421052631579deg);
  animation-delay: -0.7591093117408906s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(5) {
  transform: rotate(75.78947368421052deg);
  animation-delay: -0.7085020242914979s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(6) {
  transform: rotate(94.73684210526316deg);
  animation-delay: -0.6578947368421052s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(7) {
  transform: rotate(113.6842105263158deg);
  animation-delay: -0.6072874493927125s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(8) {
  transform: rotate(132.6315789473684deg);
  animation-delay: -0.5566801619433198s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(9) {
  transform: rotate(151.57894736842104deg);
  animation-delay: -0.5060728744939271s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(10) {
  transform: rotate(170.52631578947367deg);
  animation-delay: -0.4554655870445344s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(11) {
  transform: rotate(189.47368421052633deg);
  animation-delay: -0.4048582995951417s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(12) {
  transform: rotate(208.42105263157896deg);
  animation-delay: -0.35425101214574894s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(13) {
  transform: rotate(227.3684210526316deg);
  animation-delay: -0.30364372469635625s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(14) {
  transform: rotate(246.31578947368422deg);
  animation-delay: -0.25303643724696356s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(15) {
  transform: rotate(265.2631578947368deg);
  animation-delay: -0.20242914979757085s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(16) {
  transform: rotate(284.2105263157895deg);
  animation-delay: -0.15182186234817813s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(17) {
  transform: rotate(303.1578947368421deg);
  animation-delay: -0.10121457489878542s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(18) {
  transform: rotate(322.10526315789474deg);
  animation-delay: -0.05060728744939271s;
  background: #62cfbd;
}

.ldio-4p6krgwc7t8 div:nth-child(19) {
  transform: rotate(341.05263157894734deg);
  animation-delay: 0s;
  background: #62cfbd;
}

.loadingio-spinner-spinner-5cf73kkmxoq {
  width: 177px;
  height: 177px;
  display: inline-block;
  overflow: hidden;
  background: rgba(241, 242, 243, 0);
}

.ldio-4p6krgwc7t8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-4p6krgwc7t8 div {
  box-sizing: content-box;
}
.nav {
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  right: 20px;
  z-index: 1;
  transition: 500ms ease;
  margin: 0;
  color: #62cfbd;
}
.nav a {
  position: relative;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  color: #62cfbd;
  padding: 0 4px;
  transition: 200ms ease;
}
.nav li {
  display: inline-block;
  /* vertical-align: top; */
}
.inner-width {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
.bg-large {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent url("../../../public/images/bg-03.png") 0% 0%
    no-repeat padding-box;
  background-size: cover; /* 让背景图像自适应填充元素 */

  opacity: 1;
}
.bg-small {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent url("../../../public/images/bg.png") 0% 0% no-repeat
    padding-box;
  background-size: cover; /* 让背景图像自适应填充元素 */

  opacity: 1;
}
.bigtitle {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 90px;
  background: transparent
    linear-gradient(90deg, var(--unnamed-color-009a5b) 0%, #216bc3 100%) 0% 0%
    no-repeat padding-box;
  background: transparent linear-gradient(90deg, #009a5b 0%, #216bc3 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  position: fixed;
  z-index: 1;
}
.bigtitle-small {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  border-radius: 40px 40px 0px 0px;
  opacity: 1;
  background: transparent url("../../../public/images/bgtop-final.png") 0% 0%
    no-repeat padding-box;
  background-size: cover;
  position: fixed;
  z-index: 1;
}
.bigtitle-font {
  /* Layout Properties */
  top: 23px;
  left: 105px;
  height: 53px;
  position: relative;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-38) / var(--unnamed-line-spacing-43)
    var(--unnamed-font-family-arial);
  letter-spacing: var(--unnamed-character-spacing-1-14);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 38px/43px Arial;
  letter-spacing: 1.14px;
  color: #ffffff;
  opacity: 1;
}
.logo {
  /* Layout Properties */
  top: 15px;
  left: 30px;
  width: 60px;
  height: 60px;
  position: absolute;

  /* UI Properties */
  background: transparent url("../../../public/images/logo.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.home {
  background: transparent url("../../../public/images/bg.png") 0% 0% no-repeat
    padding-box;

  /* background: transparent url("../../../public/images/bgtop-final.png") 0% 0% no-repeat */
  height: 100%;
  z-index: 1;
}
.pgup {
  /* Layout Properties */
  top: 988px;
  left: 977px;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  /* UI Properties */
  background: var(--unnamed-color-f5d75e) 0% 0% no-repeat padding-box;
  background: #f5d75e 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.5;
  position: relative;
}
.arrow-round-back {
  /* Layout Properties */
  top: 21px;
  left: 35px;
  width: 28px;
  height: 28px;
  background: transparent url("../../../public/images/arrow-round-back.svg") 0%
    0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}
.circle {
  position: relative;
  width: 45%;
  height: 0;
  padding-bottom: 45%; /* 使用padding-bottom实现宽高比 */
  border-radius: 50%;
  /* UI Properties */
  background: var(--unnamed-color-f5d75e) 0% 0% no-repeat padding-box;
  background: #f5d75e 0% 0% no-repeat padding-box;
  background-size: cover;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 新增代码：垂直方向布局 */
}
.circle::before {
  content: "";
  display: block;
  padding-top: 100%; /* 控制伪元素的高度为宽度的百分比 */
}
.circle .circle-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle img {
  /* 图片的样式设置 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.circle p {
  /* 文字的样式设置 */
  text-align: center;
  color: #ffffff;
  font-size: 3vw;
}

.circle-text {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-26) var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0a405c);
  text-align: center;
  font: normal normal medium 18px/26px Noto Sans TC;
  font-size: 1vw;
  letter-spacing: 0px;
  color: #0a405c;
  opacity: 1;
}
.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 10px; /* 添加底部间距 */
}
.titledivider {
  width: 100%;
  height: 80px;
  margin-bottom: 10px; /* 添加底部间距 */
}

.logo-img {
  /* Layout Properties */
  position: relative;
  top: 3%;
  left: 5%;
  width: 46%;
  height: 10%;
  /* UI Properties */
  background: transparent url("../../../public/images/logo.svg") 0% 0% no-repeat
    padding-box;
  background-size: 100%;
  opacity: 1;
}
.bottomfont-large {
  /* Layout Properties */
  position: relative;
  top: 162px;
  left: 293px;
  width: 570px;
  height: 44px;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-30) / var(--unnamed-line-spacing-36)
    var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 30px/36px Noto Sans TC;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.bottomfont-small {
  /* Layout Properties */
  position: absolute;
  left: 0;
  top: 85VH;
  width: 100%;
  height: 3%;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 43px/67px var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 860px/1340px Noto Sans TC;
  letter-spacing: 0px;
  color: #e5e5e5;
  opacity: 1;
}
.undisplayed {
  display: none;
}
.topfont {
  /* Layout Properties */
  top: 50px;
  left: 1106px;
  width: 448px;
  height: 56px;
  position: absolute;

  /* UI Properties */
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 40px/50px Futura;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 1;
}
.topfont2 {
  /* Layout Properties */
  top: 50px;
  left: 1395px;
  width: 144px;
  height: 56px;
  position: absolute;

  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-40) / 50px
    var(--unnamed-font-family-futura);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 40px/50px Futura;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 1;
}
.topfont3 {
  /* Layout Properties */
  top: 50px;
  left: 1554px;
  width: 116px;
  height: 52px;
  position: absolute;

  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-40) / 50px
    var(--unnamed-font-family-futura);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 40px/50px Futura;
  letter-spacing: 2px;
  color: #ffffff;
  opacity: 1;
}
.topfont4 {
  /* Layout Properties */
  top: 50px;
  left: 1712px;
  width: 60px;
  height: 80px;
  position: absolute;

  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-30) /
    var(--unnamed-line-spacing-36) var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 30px/36px Noto Sans TC;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.topfont5 {
  /* Layout Properties */
  top: 50px;
  left: 1782px;
  width: 78px;
  height: 78px;
  position: absolute;

  /* UI Properties */
  background: transparent url("../../../public/images/天象.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.topfont6 {
  /* Layout Properties */
  top: 130px;
  left: 1712px;
  width: 114px;
  height: 58px;
  position: absolute;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) var(--unnamed-font-size-40) /
    var(--unnamed-line-spacing-49) var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal medium 40px/49px Noto Sans TC;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.topfont7 {
  top: 127px;
  left: 1820px;
  width: 39px;
  height: 58px;
  position: absolute;
  background: transparent url("../../../public/images/度.svg") 0% 0% no-repeat
    padding-box;
  mix-blend-mode: normal;
  opacity: 1;
}
.bigtitletime {
  position: relative;
  position: fixed;
  right: 0;
  top: 50%; /* 可選，設置垂直位置 */
  transform: translateY(-50%); /* 可選，垂直居中對齊 */
}
.bigtitletime-tr-small {
  position: relative;
  position: fixed;
  right: 0;
  top: 50%; /* 可選，設置垂直位置 */
  transform: translateY(-50%); /* 可選，垂直居中對齊 */

  /* 其他樣式設置 */
}
.bigtitletime-tr {
  position: absolute;
  top: -30px; /* 可選，設置垂直位置 */

  /* 其他樣式設置 */
}
.footer-small {
  position: absolute;
  padding-top: 100px;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-medium) 43px/67px
    var(--unnamed-font-family-noto-sans-tc);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  font: normal normal medium 860px/1340px Noto Sans TC;
  letter-spacing: 0px;
  color: #e5e5e5;
  opacity: 1;
}

.button-container {
  position: fixed;
  top: 52vh; /* 设置DIV距离视窗顶部的距离为视口高度的30% */
  left: 80vw; /* 设置DIV距离视窗左侧的距离为视口宽度的20% */
  width: 40vw; /* 设置DIV的宽度为视口宽度的60% */
  height: 40vw; /* 设置DIV的高度为宽度的9/16，保持固定的比例 */


}

.floating-button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ccc;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.floating-button:last-child {
  margin-bottom: 0;
}
.text1 {
  aspect-ratio: 9 / 16; /* 设置DIV的宽高比为 1080 * 1920 或者 540 * 960 */
  font-size: 4vw; /* 设置字体大小为视口宽度的3% */
  font-family: Arial;
}
.text2 {
  aspect-ratio: 9 / 16; /* 设置DIV的宽高比为 1080 * 1920 或者 540 * 960 */
  font-size: 9vw; /* 设置字体大小为视口宽度的3% */
  font-family: Arial;
}
.text3 {
  aspect-ratio: 9 / 16; /* 设置DIV的宽高比为 1080 * 1920 或者 540 * 960 */
  font-size: 12vw; /* 设置字体大小为视口宽度的3% */
  font-family: Arial;
}
.smalltopfont7 {
  /* Layout Properties */
  position: absolute;
  top: 8%;
  left:50.5VH;
  background: transparent url("../../../public/images/度.svg") 0% 0% no-repeat
  padding-box;
  opacity: 1;
}.smalltopfont6 {
  /* Layout Properties */
  position: absolute;
  top: 8%;
  left:44.5VH;
  opacity: 1;
}.smalltopfont5 {
  /* Layout Properties */
  position: absolute;
  top: 3.5%;
  left:48VH;
  background: transparent url("../../../public/images/天象.svg") 0% 0% no-repeat
  padding-box;
opacity: 1;
}.smalltopfont4 {
  /* Layout Properties */
  position: absolute;
  top: 3%;
  left:43vh;
  width: 8%;
  height: auto;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-48)
    var(--unnamed-font-family-arial);
  color: var(--unnamed-color-0a405c);
  text-align: right;
  font: normal normal bold 40px/48px Arial;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}.smalltopfont3 {
  /* Layout Properties */
  position: absolute;
  top: 25%;
  left: 13%;
  width: 30%;
  height: auto;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-48)
    var(--unnamed-font-family-arial);
  color: var(--unnamed-color-0a405c);
  text-align: right;
  font: normal normal bold 40px/48px Arial;
  letter-spacing: 1.2px;
  color: #0a405c;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.smalltopfont2 {
  position: absolute;
  /* Layout Properties */
  top: 22%;
  left: 13%;
  width: 30%;
  height: auto;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-40) / var(--unnamed-line-spacing-49)
    var(--unnamed-font-family-arial);
  color: var(--unnamed-color-0a405c);
  text-align: right;
  font: normal normal bold 40px/49px Arial;
  letter-spacing: 1.2px;
  color: #0a405c;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.smalltopfont1 {
  position: absolute;
  /* Layout Properties */
  top: 15%;
  left: 13%;
  width: 27%;
  height: auto;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-120) / var(--unnamed-line-spacing-150)
    var(--unnamed-font-family-arial);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0a405c);
  text-align: right;
  font: normal normal normal 120px/150px Arial;
  aspect-ratio: 9 / 16; /* 设置DIV的宽高比为 1080 * 1920 或者 540 * 960 */
  font-size: 20vw; /* 设置字体大小为视口宽度的3% */
  letter-spacing: 0px;
  color: #0a405c;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font-size: 120px;
}.smalltopfont1-ex {
  position: absolute;
  /* Layout Properties */
  top: 0;
  left: 0;
  width: 27%;
  height: auto;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal normal
    var(--unnamed-font-size-120) / var(--unnamed-line-spacing-150)
    var(--unnamed-font-family-arial);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0a405c);
  text-align: right;
  font: normal normal normal 120px/150px Arial;
  aspect-ratio: 9 / 16; /* 设置DIV的宽高比为 1080 * 1920 或者 540 * 960 */
  font-size: 20vw; /* 设置字体大小为视口宽度的3% */
  letter-spacing: 0px;
  color: #0a405c;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font-size: 120px;
}
.father-s {
  position: absolute;
  top:38%;
  left: 3%;
  right: 3%;
  bottom: 26%;
  display: flex;
  flex-direction: column;

}

/* loading css  end*/
