/* //! home start */
.img-item {
    padding: 12px;
    cursor: pointer;
}


/* //! home end */

/* //!head start */
.title {
    padding: 5px 0px;
    font-size: 35px;
    font-weight: 600;
}



.title-deptname {
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .title-deptname {
        display: block;
    }
}

title-deptname .date {
    margin-left: 5px;
}

.date .date-left {
    font-size: 30px;
    color: rgb(53, 52, 52)
}

.date .date-time {
    font-size: 25px;
    font-weight: 600;
}

.date .date-right {
    padding-top: 10px;
    float: right;
    font-size: 20px;
}


.buttons {
    margin: 10px 0px;
    clear: both;
}

.btn-toShowClinic {
    margin: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #4d4a4a;
    background-color: #ffffff;
    border-color: #2c2c2c;
}

.btn-toShowClinic:hover {
    color: #fff;
    background-color: #129cec;
    border-color: #129cec;
}

.isactive {
    color: #fff;
    background-color: #129cec;
    border-color: #129cec;
}

/* //!head end */

/* //! ChooseDept.vue start */
.outpatient-section {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    border: 4px #f1f1f1 solid;
}


ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul .row-title {
    padding: 1em;
    width: 100%;
    background: rgb(0 114 195 / 97%);
    color: white;
    justify-content: space-between;
    overflow: hidden;
}

.title-left {
    float: left;
}

.title-left .kind {
    margin-left: 5px;
}

.title-right {
    float: right;
}


ul .row-p1 {
    width: 20%;
    float: left;
    margin: 0px;
}

.row-p1 div {
    height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-p1 div:hover {
    color: #2b85b9;
    text-decoration: none;
}



@media screen and (max-width: 991px) {
    ul .row-p1 {
        width: 25%;
    }
}

@media screen and (max-width: 640px) {
    ul .row-p1 {
        width: 33%;
    }
}

/* //! ChooseDept.vue end */




/* //! selectClinic  start*/
.title {
    padding: 5px 0px;
    font-size: 35px;
    font-weight: 600;
}

.rwdTitle {
    display: inline-block;
}

.rwdTitle2 {
    display: none;
}

.title-deptname {
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .title-deptname {
        display: block;
    }

    .rwdTitle {
        display: none;
    }

    .rwdTitle2 {
        display: block;
    }
}


.table-layout {
    padding: 10px;
}

.table-layout table {
    width: 100%;
}

.tableApp-show {
    display: none;
}

.clinic-info-lg {
    font-size: 18px;
    font-weight: 600;
}

.clinic-info-md {
    font-size: 18px;
    font-weight: 600;
    display: none;
}

.cc {
    display: none;
}

.clinic-info-bg {
    min-height: 60px;
    border-bottom: #979797 solid;
    background: linear-gradient(rgb(221 221 221), rgb(233, 244, 250))
        /* background-image: url(https://zh-tw.sltung.com.tw/tung/OPD/images/thead.png); */
}


@media screen and (max-width: 768px) {
    .clinic-info-lg {
        display: none;
    }

    .clinic-info-md {
        display: block;
    }
}



.backgroundground {
    background-color: rgba(170, 170, 170, 0.712);
}


/* //! selectClinic end */


/*  //! editRemark start */
.inputList {
    float: left;
    width: 100%;
}

.inputList div {
    display: inline-block;
    padding: 5px 5px;
    white-space: nowrap !important;
    /* float: left; */
    font-size: 20px;
    font-weight: 600;
    /* display: flex; */
}

.ck {
    clear: both;
    /* display: none; */
}

.btn-blue {
    color: #fff;
    background-color: #129cec;
    border-color: #129cec;
    width: 300px;
    margin: 4px;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
}

/*  //!  editRemark end*/

/*  //!  divisionProgress start*/
.division-item {
    padding: 12px;
    cursor: pointer;
}

.division-item>div {
    color: white;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.green {
    background-color: #aec23f;
}

.green:hover {
    background-color: #8c9c31;
}

.brown {
    background-color: #e2af3c;
}

.brown:hover {

    background-color: #9c7b2c;
}


/*  //!  divisionProgress end*/

.regist-info-lg {
    font-size: 18px;
    font-weight: 600;
}

.regist-info-md {
    font-size: 18px;
    font-weight: 600;
    display: none;
}

.reg-inputlist {
    /* float: left; */
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    margin: 0px 5px;
}

.reg-inputlist>div>label {
    margin: 5px;
}

.regist-transDate>p {
    margin: 0px;
    display: inline-block;
}


.btn-registed {
    margin: 0px 4px;
    font-size: 20px;
    font-weight: 600;
    color: #4d4a4a;
    background-color: #ffffff;
    border-color: #2c2c2c;
}

.btn-registed:hover {
    color: #fff;
    background-color: #129cec;
    border-color: #129cec;
}

@media screen and (max-width: 768px) {
    .regist-info-lg {
        display: none;
    }

    .regist-info-md {
        display: block;
    }
}